PORT=4000
# Replace with your connection string
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>.mongodb.net/<dbName>?retryWrites=true&w=majority
# Set to true to start without DB (for local dev without Mongo)
# SKIP_DB=true
